<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ReadExcelProject.Properties.Sensitive" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="ReadExcelProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>    
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
  
  <applicationSettings>        
        <ReadExcelProject.Properties.Sensitive>
              <setting name="Password" serializeAs="String">
                    <value></value>
              </setting>
              <setting name="FromPassword" serializeAs="String">
                    <value></value>
              </setting>
        </ReadExcelProject.Properties.Sensitive>
      
        <ReadExcelProject.Properties.Settings>
              <setting name="AppToken" serializeAs="String">
                    <value>bwy3haxdh8fsi7v6p6k7dyexycn</value>
              </setting>
              <setting name="TableId" serializeAs="String">
                    <value>bkr5uxfek</value>
              </setting>
              <setting name="UserName" serializeAs="String">
                    <value>RahulMisra2000@gmail.com</value>
              </setting>
              <setting name="BaseUrl" serializeAs="String">
                    <value>https://octo.quickbase.com/db/</value>
              </setting>
              <setting name="FromEmail" serializeAs="String">
                    <value>ExcelToQuickBase@gmail.com</value>
              </setting>
              <setting name="ToEmail" serializeAs="String">
                    <value>rahulmisra2000@gmail.com</value>
              </setting>
              <setting name="FileName" serializeAs="String">
                    <value>1.xlsx</value>
              </setting>
        </ReadExcelProject.Properties.Settings>
    </applicationSettings>
</configuration>
